logs
project/project
project/target
target
tmp
.history
dist
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.idea

bin/
db
.eclipse
lib/
logs/
modules
tmp/
test-result
server.pid
*.eml
dist/
.cache
